.left{
    width:25%;
    float:left;
}

#searchDiv{
    background-color:#D3D3D3;
}

#searchForm{
    padding:5px 10px 5px 14px;
}

#contactName{
    border-radius:10px;
}

.chatUl{
    height:600px;
    overflow:hidden;
    overflow-y:scroll;
    list-style-type:none;
    background-color:white;
    padding-left:0px;
}

.chatUl.li{
    border-bottom:1px solid #DCDCDC;
}

.username{
    margin:0px 0px 0px 16px;
}

.phone,
.lastmessage{
    margin:0px 0px 0px 16px;
    font-size:12px;
}

.right{
    width:60%;
    float:right;
    margin-left:10%;
}

.pName{
    padding:4px 10px 5px 14px;
    font-size:19px;
}

.messageArea{
    background-color:white;
    overflow-y:scroll;
    height:540px;
    width:100%;
    margin:-16px 0px 20px 0px;
}

.other,
.you{
    width: 100%;
}

.pOther{
    padding-left:5px;
    background-color:#fcae1e;
    width:30%;
    border-radius:10px;
    margin-left:2%;
}

.pYou{
    padding-left:5px;
    background-color:#b1eea8;
    width:30%;
    border-radius:10px;
    margin-left:68%;
}

#message{
    border-radius:10px;
    width:90%;
}

#manageContacts{
    margin-right: 20px;
}